p {
    color: white;
    font-family: Courier-New, monospace;
    font-size: 16px;

}

body {
    background: #B7E0EA;

}

section {
    background: #BEBEE9;
    margin-right: 100px;
    margin-left: 100px;
}


.Drawing-1 {
    border: white;
    background: #BEBEE9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-right: 200px;
    margin-left: 100px;
}

.Drawing-2 {
    border: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: #BEBEE9;
    margin-top: 250px;
    margin-right: 200px;
    margin-left: 100px;
}